h1 {
    font-family: 'Megrim', 'Helvetica Neue', sans-serif;
    font-size: 424%;
}

h2 {
    margin-top: 1.618em;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 230px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    color: rgba(255, 255, 255, 0.7);
    background-color: #333;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li {
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #262626;
}

nav a {
    display: block;
    padding: 0.618em;
    color: rgba(255, 255, 255, 0.7);
}

nav .heading a {
    background-color: #444;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 80%;
    color: #999;
}

nav a:hover {
    color: #eee;
}

main {
    position: absolute;
    left: 230px;
    top: 0;
    padding: 1.618em;
}

.npm-install {
    padding: 2.618em 1.618em;
    background-color: #eee;
    margin-bottom: 1em;
}

.doc-heading {
    background-color: #eee;
    border-bottom: 1px solid #ccc;
    padding: 0.382em 0;
    margin: 1em 0 0.618em 0;
}

.doc-heading .links {
    float: right;
}
